/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Corpo */
body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
}

/* Container centralizado */
.container {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
}

/* Cabeçalho */
header {
    background-color: #0078d7;
    width: 100%;
    color: white;
    padding: 15px 0;
}

.header .logo {
    font-size: 1.8rem;
    font-weight: bold;
    text-align: center;
}

.logo h1 {
    color: white;
    text-align: center;
}

.nav {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.nav-list {
    display: flex;
    list-style: none;
    gap: 10px;
}

.nav-list li a {
    color: white;
    font-size: 1.1rem;
    text-decoration: none;
    font-weight: bold;
}

.nav-list li a:hover {
    text-decoration: underline;
}

.product-details img {
    width: 400px;
    height: 400px;
}

.product-details p {
    padding-top: 40px;
}

.product-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    margin-top: 20px;
}

.product-item {
    background: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    text-align: center;
    padding: 20px;
    width: 300px;
    box-shadow: 0 4px 6px rgba(83, 192, 196, 0.1);
}

.product-item img {
    width: 200px;
    height: 200px;
    object-fit: contain;
    margin-bottom: 15px;
    border-radius: 8px;
}

.product-item h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: #0078d7;
}

.product-item p {
    font-size: 1.1rem;
    margin-bottom: 20px;
    color: #333;
}

.product-item button {
    padding: 10px 20px;
    background-color: #0078d7;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.product-item button:hover {
    background-color: #005bb5;
}

/* Carrinho de Compras */
#cart {
    margin-top: 20px;
    padding: 60px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    position: relative;
}

#cart ul {
    list-style-type: none;
    padding: 0;
}

#cart ul li {
    padding: 5px 0;
    font-size: 1.1rem;
}

#cart button {
    padding: 12px 25px;
    background-color: #0078d7;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#cart button:hover {
    background-color: #005bb5;
} 

h2{
    font-size: 1.5rem;
    margin-bottom: 20px;
    color: #0078d7;
    text-align: center;
    font-family: 'Arial', sans-serif;
    padding:  10px;
}

.footer{
    margin-top: 30px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #333;
    color: white;
    text-align: center;
    padding: 5px;
}
